# Database Configuration
DATABASE_URL=postgresql://username:password@host:port/database

# Solana Configuration
BOT_WALLET_ADDRESS=DGPrryYStTsmKkMhkJrTzapbCYKvN3srHJvSHqZCWYP6

# Server Configuration
PORT=3001
NODE_ENV=production
